body{
margin:0;
font-family:Arial;
color:white;
}


.bg-slider{
position:fixed;
inset:0;
background:linear-gradient(-45deg,#1e3a8a,#7c3aed,#0f766e);
animation:bg 12s infinite alternate;
z-index:-1;
}


@keyframes bg{
0%{filter:hue-rotate(0deg)}
100%{filter:hue-rotate(120deg)}
}


nav{
display:flex;
justify-content:space-between;
padding:20px 50px;
background:rgba(0,0,0,0.4);
}


nav a{
color:white;
margin-left:20px;
text-decoration:none;
}


.main, .about, .history{
text-align:center;
margin-top:80px;
}

.bg-slider{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  z-index:-1;
}

.bg-slider img{
  width:100%;
  height:100%;
  object-fit:cover;
  transition:opacity 1.2s ease-in-out;
}

/* dark overlay */
.bg-slider::after{
  content:"";
  position:absolute;
  inset:0;
  background:rgba(0,0,0,0.6);
}


input{
width:60%;
padding:15px;
border-radius:10px;
border:none;
}

button{
padding:12px 25px;
border:none;
margin-top:15px;
border-radius:8px;
background:#22c55e;
color:white;
cursor:pointer;
}


.output img{
width:420px;
border-radius:15px;
margin-top:30px;
}


.actions button{
margin:10px;
}


#loading{display:none}
.home{
  text-align:center;
  margin-top:120px;
}

.cards{
  display:flex;
  justify-content:center;
  gap:30px;
  margin-top:50px;
  flex-wrap:wrap;
}

.card{
  width:280px;
  padding:30px;
  border-radius:20px;
  background:rgba(255,255,255,0.1);
  backdrop-filter:blur(15px);
  box-shadow:0 0 30px rgba(0,0,0,0.4);
  transition:.3s;
}

.card:hover{
  transform:translateY(-10px) scale(1.03);
}

.card h3{
  margin-bottom:15px;
}

.card p{
  font-size:.95rem;
  color:#e5e7eb;
}

.card a{
  display:inline-block;
  margin-top:15px;
  color:#22d3ee;
  text-decoration:none;
  font-weight:600;
}
